@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #191919;
  color: var(--white);
}

::selection {
  background-color: var(--purple);
  color: var(--black);
}

:root {
  --black: #191919;
  --white: #f6f1ee;
  --voilet: #5800ff;
  --purple: #e900ff;
  --yellow: #ffc600;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  margin-bottom: 13.8px;
  background: #e8e8ff;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 20px; /* Adjust the width of the slider thumb */
  height: 20px; /* Adjust the height of the slider thumb */
  border-radius: 50%;
  background: var(--purple);
  cursor: pointer;
}

.scroll-hide {
  scroll-behavior: smooth;
  transition: scroll-snap-type 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  scroll-snap-type: x mandatory;
  scroll-padding: 0 20px;
  animation-delay: 0.5s;
}

.scroll-hide::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
